{% extends 'base.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/dashboard.css') }}">
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/dashboard.js') }}"></script>
{% endblock %}

{% block body_class %}flex-row-center-center body-nav{% endblock %}

{% block content %}
    <main class="flex-column-space-around-center dashboard-main">
        <div class="tile-container flex-column-space-around-center">
            <h1>Are you ready for a new adventure?</h1>
            <a href="{{ path('current_book') }}" class="current-book">
                <div class="dashboard-tile">
                    <img src=
                         {% if bookCover is not null %}
                                {{ bookCover }}
                            {% else %}
                         "https://images.pexels.com/photos/6373289/pexels-photo-6373289.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                            {% endif %}
                    >
                    <h2>
                        {% if bookTitle is not null %}
                            You're reading {{ bookTitle }}
                        {% else %}
                            Currently, you are not reading any book
                        {% endif %}
                    </h2>
                </div>
            </a>
            <a href="{{ path('add_book') }}">
                <div class="dashboard-tile">
                    <img src="https://images.pexels.com/photos/2203051/pexels-photo-2203051.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1">
                    <h2>Add book</h2>
                </div>
            </a>
            <a href="{{ path('collection') }}">
                <div class="dashboard-tile">
                    <img src="https://images.pexels.com/photos/2128249/pexels-photo-2128249.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1">
                    <h2>See all your books</h2>
                </div>
            </a>
        </div>
        <script>
            {#window.user = {{ user|raw }};#}
            console.log({{ user|raw }})
        </script>
    </main>
{% endblock %}