{% extends 'base.html.twig' %}

{% block title %}Atsumari{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/start_screen.css') }}">
{% endblock %}

{% block body_class %}flex-row-center-center{% endblock %}

{% block navbar %}{% endblock %}

{% block content %}
    <main class="flex-column-space-around-center">
        <img src="{{ asset('images/Atsumari.png') }}">
        <p class="description">Have you lost track of your reading record? Do you want to know your reading speed? Do you want to manage your bookshelf?
            <br><br>With Atsumari it is easy. Create your account and start managing your books today!</p>
        <a class="default-btn" href="{{ path('signup') }}">Create account</a>
        <p class="comment">...or <a href="{{ path('login') }}" class="popup-cancel-btn">Log In</a></p>
    </main>
{% endblock %}