{% extends 'base.html.twig' %}

{% block title %}Settings{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/settings.css') }}">
    <link rel="stylesheet" href="{{ asset('css/settings_admin.css') }}">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block body_class %}flex-row-center-center body-nav{% endblock %}

{% block content %}
    <div id="root" data-show-nav="true" data-view="settings_admin" data-role="{{ app.user.roles[0] }}"></div>
{% endblock %}
