{% extends 'base.html.twig' %}

{% block title %}Settings{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/settings.css') }}">
    <link rel="stylesheet" href="{{ asset('css/settings_admin.css') }}">
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/settings_admin.js') }}"></script>
{% endblock %}

{% block body_class %}flex-row-center-center body-nav{% endblock %}

{% block content %}
    <main class="flex-column-space-around-center">
        <div class="basic-settings flex-column-space-around-center">
            <div class="flex-column-space-around-center images">
                <img class="logo" src="{{ asset('images/Atsumari.png') }}" alt="Atsumari logo">
                <img src="{{ asset('images/avatar-img.png') }}" class="avatar-settings" alt="avatar image">
            </div>
            <div class="form-container">
                <h2 class="manage-text">Manage Your Account</h2>
                <form method="POST" action={{ path('logout') }}>
                    <button class="default-btn del-btn" id="delete-logged-usr-btn">Delete account</button>
                    <button class="default-btn" type="submit" name="logout">Logout</button>
                </form>
            </div>
        </div>
        <div class="history flex-column-space-around-center">
            <h4>Manage Users</h4>
            <div class="users-container">
{#                {% for user in users %}#}
{#                    <div class="session-info flex-row-center-center user-info">#}
{#                        <div class="flex-column-space-around-center session-details user-img">#}
{#                            <img class="avatar-img-admin" src="{{ asset('images/avatar-img.png') }}" alt="avatar image">#}
{#                        </div>#}
{#                        <div class="flex-column-space-around-center session-details">#}
{#                            <p class="dark">{{ user.firstName }} {{ user.lastName }}</p>#}
{#                            <p class="dark email">{{ user.email }}</p>#}
{#                        </div>#}
{#                        <button class="small-btn" data-userId="{{ user.userId }}">Delete User</button>#}
{#                    </div>#}
{#                {% endfor %}#}
            </div>
        </div>
    </main>
{% endblock %}