<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Karla:wght@500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ asset('css/global.css') }}">
    <link rel="stylesheet" href="{{ asset('css/settings.css') }}">
    <link rel="stylesheet" href="{{ asset('css/settings_admin.css') }}">
    <script src="https://kit.fontawesome.com/0d4592f9a9.js" crossorigin="anonymous"></script>
    <title>Settings</title>
</head>
<body class="flex-row-center-center body-nav">
<main class="flex-column-space-around-center">
    <div class="basic-settings flex-column-space-around-center">
        <div class="flex-column-space-around-center images">
            <img class="logo" src="{{ asset('images/Atsumari.png') }}">
            <img src="{{ asset('images/avatar-img.png') }}" class="avatar-settings">
        </div>
        <div class="form-container">
            <h2 class="manage-text">Manage Your Account</h2>
            <form method="post">
                <button class="default-btn">Delete account</button>
                <button class="default-btn" type="submit" name="logout">Logout</button>
            </form>
        </div>
    </div>
    <div class="history flex-column-space-around-center">
        <h4>Manage Users</h4>
        {% for user in users %}
            <div class="session-info flex-row-center-center user-info">
                <div class="flex-column-space-around-center session-details user-img">
                    <img class="avatar-img-admin" src="{{ asset('images/avatar-img.png') }}">
                </div>
                <div class="flex-column-space-around-center session-details">
                    <p class="dark">{{ user.firstName }} {{ user.lastName }}</p>
                    <p class="dark email">{{ user.email }}</p>
                </div>
                <button class="small-btn" data-email="{{ user.email }}">Delete User</button>
            </div>
        {% endfor %}
    </div>
</main>
<nav class="flex-row-center-center navbar">
    <ul class="flex-row-center-center nav-list">
        <li>
            <a href="{{ path('dashboard') }}">
                <i class="fa-solid fa-house fa-2x"></i>
            </a>
        </li>
        <li>
            <a href="{{ path('current_book') }}">
                <i class="fa-solid fa-book fa-2x"></i>
            </a>
        </li>
        <li>
            <a href="{{ path('collection') }}">
                <i class="fa-solid fa-box fa-2x"></i>
            </a>
        </li>
        <li>
            <a href="{{ path('stats') }}">
                <i class="fa-solid fa-chart-column fa-2x"></i>
            </a>
        </li>
        <li>
            <a href="{{ path('settings') }}" class="nav-avatar">
                <img class="avatar-img-nav" src="{{ asset('images/avatar-img.png') }}">
            </a>
        </li>
    </ul>
</nav>
</body>
</html>
