{% extends 'base.html.twig' %}

{% block title %}Add Book{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/add_book.css') }}">
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/add_book.js') }}" defer></script>
{% endblock %}

{% block body_class %}flex-row-center-center body-popup{% endblock %}

{% block navbar %}{% endblock %}

{% block content %}
    <div class="popup">

        {{ form_start(form, {'attr': {'id': 'bookForm', 'class': 'flex-column-space-around-center'}}) }}
        {{ form_widget(form) }}
        <button type="button" class="add-author-button popup-cancel-btn">Add author</button>
        <button type="button" class="add-genre-button popup-cancel-btn">Add genre</button>
        <button class="popup-light-btn">Save book</button>
        <a href="{{ path('dashboard') }}" class="popup-cancel-btn">Cancel</a>
        {{ form_end(form) }}

    </div>
{% endblock %}