{% extends 'base.html.twig' %}

{% block title %}Atsumari - sign up{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body_class %}flex-row-center-center{% endblock %}

{% block navbar %}{% endblock %}

{% block content %}
    <main class="flex-column-space-around-center">
        <img src="{{ asset('images/Atsumari.png') }}">
        <div class="form-container">
            <h2>Create an account</h2>
            {{ form_start(registrationForm, {'attr': {'class': 'flex-column-space-around-center'}}) }}
            {% if registrationForm.vars.errors|length > 0 %}
                <div class="alert alert-danger">
                    <ul>
                        {% for error in registrationForm.vars.errors %}
                            <li>{{ error.message | trans({}, 'security') }}</li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
            {{ form_row(registrationForm.id_user_details.firstName, {'attr': {'placeholder': 'First Name'}}) }}
            {{ form_row(registrationForm.id_user_details.lastName, {'attr': {'placeholder': 'Last Name'}}) }}
            {{ form_row(registrationForm.email, {'attr': {'placeholder': 'Email'}}) }}
            {{ form_row(registrationForm.plainPassword.first, {'attr': {'placeholder': 'Password'}}) }}
            {{ form_row(registrationForm.plainPassword.second, {'attr': {'placeholder': 'Confirm password'}}) }}

            <button type="submit" class="default-btn">Create account</button>

            {{ form_end(registrationForm) }}
            <p class="comment">I Already Have an Account. <a href="{{ path('app_login') }}" class="popup-cancel-btn">Log In</a></p>
        </div>
    </main>
{% endblock %}